body{
    background: grey;
    padding: 0;
    margin: 0;
}
#main-area{
    width: 95vw;
    height: 90vh;
    background: url("img/floor2.jpg") center;
    margin: 5vh auto;
    z-index: 1;
}
#human{
    position: absolute;
    background: no-repeat;
    padding: 0;
    width: 60px;
    height: 100px;
    z-index: 3;
}
.zombie{
    position: absolute;
    background: no-repeat;
    padding: 0;
    width: 60px;
    height: 100px;
    z-index: 3;
}
#game-info{
    position: absolute;
    background: darkslategrey;
    color: white;
    z-index: 4;
}
.bullet{
    position: absolute;

    width: 5px;
    height: 2px;
    background: goldenrod;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 2;
}